html {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

a {
    color:white;
    text-decoration: none;
}

#title-message {
    color: red; 
}

.fs-xl {
    font-size: clamp(1rem, 1rem + 6vw, 8rem);
}

.fs-600 {
    font-size: clamp(.5rem, .5rem + 4vw, 4rem);
}

.fs-400 {
    font-size: clamp(.5rem, .3rem + 3vw, 3rem);
}

.options {
    font-size: clamp(.5rem, .3rem + 3vw, 3rem);
}

.options a:hover {
    cursor:pointer;
    color: #9b9b9b;
}

#score {
    position:fixed;
    z-index: 1;
    top:0;
    color:rgba(255,255,255, 0.5);
    text-shadow: 1px 1px 1px black;
    margin-top: 2vh;
    font-size: clamp(.5rem, .5rem + 2.5vw, 1.5rem);
}

.canvas {
    background-color: black;
    overflow:hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.square {
    width: 15px;
    height: 15px;
    background-color: black;
    margin: 2px;
}

.snake {
    background-color: white;
}

.target {
    background-color: red;
}

.death {
    background-color: #343434;
}

.hide {
    display:none !important;
}

.popup {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100svh;
    overflow: -moz-hidden-unscrollable;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  

  .popup-content {
    display: grid;
    gap: 5svh;
    margin: 0 auto;
    color: white;
  }

  .center {
    margin: 0 auto;
  }

  .helvetica {
    font-family: Arial, Helvetica, sans-serif;
  }